<div class="form_wrap">
  <h3>New message</h3>
  <%= form_for(@post, url: url1_create_message_path(@post)) do |f| %>
    <%= f.label :message %>
    <%= f.text_field :message %>
    <%= f.submit 'Send' %>
  <% end %>
  <%= link_to 'Back', url1_index_path %>
</div>